# WELCOME!

In [ ]:
# Print a simple message

print("Hello, Sun Devil Fintech!")

In [ ]:
# Syntax

# data types [VARIABLES]

# Integer
age = 20
print("Age:", age)

# Float or Decimals
balance = 1500.75
print("Account Balance:", balance)

# String
name = "Alex"
print("Customer Name:", name)

Age: 20
Account Balance: 1500.75
Customer Name: Alex

In [ ]:
# math

# Addition
print(10 + 5)

# Subtraction
print(10 - 3)

# Multiplication
print(4 * 2)

# Division
print(15 / 3)

# Power
print(3 ** 2)

15
7
8
5.0
9

In [ ]:
# Create a formula for the Pythagorean theorem
# Formual =>

# Exercise - Create a formula for the Pythagorean theorem

$x^2 + y^2 = z^2$

In [ ]:
# code here

In [ ]:
# An actual usecase

balance = 1000  # starting balance
new_balance = balance * 1.10  # adding 10%
print("New Balance:", new_balance)

New Balance: 1100.0

In [ ]:
# Concatenate strings
first_name = "Alex"
last_name = "Morgan"
full_name = first_name + " " + last_name
print("Full Name:", full_name)

# F strings - helps you format better
client = "Greg"
my_name = "Achintya"
print(f"Hi, {client}! I'm {my_name}!")

Full Name: Alex Morgan
Hi, Greg! I'm Achintya!

In [ ]:
# A list of transaction amounts
transactions = [100, -20, 50, -30]
print("Transactions:", transactions)

# Accessing list elements
print("First Transaction:", transactions[0]) # Counting starts at zero!

# Adding a new transaction
transactions.append(75)
print("Updated Transactions:", transactions)

Transactions: [100, -20, 50, -30]
First Transaction: 100
Updated Transactions: [100, -20, 50, -30, 75]

In [ ]:
# Check if the balance is positive [CONDITIONALS]
balance = 500

if balance > 0:
    print("Account is positive.")
else:
    print("Account is negative or zero.")

Account is positive.

In [ ]:
# Sum of all transactions [LOOPS]
total = 0
for transaction in transactions:
    total += transaction
print("Total Balance After Transactions:", total)

Total Balance After Transactions: 175

In [ ]:
# Countdown from 5 [WHILE LOOPS]
count = 5
while count > 0:
    print(count)
    count -= 1
print("Done!")

5
4
3
2
1
Done!

In [ ]:
# Function to calculate the new balance after a 10% increase [REUSING CODE WITH FUNCTIONS]
def increase_balance(balance):
    return balance * 1.10

# Test the function
print("Increased Balance for Ben", increase_balance(1000))
print("Increased Balance for John:", increase_balance(2000))

Increased Balance for Ben 1100.0
Increased Balance for John: 2200.0